
nav{
    display: flex ;
    align-items: center;
    background-color: #f4e5d9;
    padding:  20px;
    color:#48484b;
}

nav a{
    color:#48484b;
    text-decoration: none;
}

#nav-link {
    list-style-type: none;
    display: flex;
    margin: auto;
    align-items: center;
    gap: 275px; justify-content:end;align-content: flex-end;
     }


   img { margin: auto; 
    display: block; 
    width: auto;} 

    #logo{ justify-content: center;align-content: center; 
        border-style: double;
        border-color: #b2bda3;}
   

   p { font-size: 30px;
    text-align: center; 
    color: #48484b; 
    background-color: #b2bda3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
    

h1 {text-align:center;padding-right: 200px; padding-top: 50px;
    font-size: 60px ;
    color: #f4e5d9; background-color: #48484b;}


h2{ text-align: center;padding-right: 200px; padding-bottom: 50px;
    color: #48484b;}



    body {background-image: url(Serenespa.img.jpg);
    background-size:cover;}


h3 {text-align: center ; 
    color: rgb(13, 19, 14);font-size: 30px; }
    
    


#name {width: auto;
background-color:#48484b;}

#front { background-color:#f4e5d9;
font-family:Verdana, Geneva, Tahoma, sans-serif;}

.container { 
    /* width: 200px; background-color: #f4e5d9;
     color: #48484b; */
     display: flex;
    justify-content: center;
    align-items: center; 
    /* padding-bottom: 30px;padding-left:20px; */
    margin-bottom: 200px;

}

.booking {width: 200px; background-color: #f4e5d9;
     color: #48484b;
    justify-content: center;
    align-items: center; 
    padding-bottom: 30px;padding-left:20px;
text-align: center;

}



#homelink {padding: 0%;}

#michella {background-color: #48484b;}

#links{color:#48484b ;
    background-color: #b2bda3; 
    display:flex; 
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;margin: 30px;border-style: double ;}

.about {background-color: #b2bda3; padding:40px;}

#menu {background-color: #b2bda3;
    padding: 5px;margin: 5px;}


#skin {background-color: #48484b;
    padding: 10px;margin: 10px;
    list-style-type: none;
color: #f4e5d9;}

#pedicure { background-color: #48484b;
padding: 10px; margin: 100px;list-style-type: none;}

a{ text-decoration: none; 
color: #48484b;
}

#name h2 {  color: #f4e5d9;
}

#skin h3 {color: #f4e5d9;}

#title h1 {padding: 20px;margin:0px ;
  text-align: center;
text-decoration: underline;}
